body{
    font-family: 'Roboto',sans-serif;
    background-color:#353d41;
}
.row{
    margin: 0;
}
.container{
    padding: 70px 0 ;
}
p,li{
    color: #444;
    font-size: 14px;
}

header, .navbar {
    background-color:#353d41;;
    cursor: pointer; 
}
.nav-item.nav-link:hover{
    text-decoration: underline;
   color: #fff;
}
#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}
#logo{
    width: 75px;
}
.navbar-brand{
    padding: 0;
    color: #fff;
}
.navbar-brand:hover{
    color: #fff;
}
#navbar-links a{
    color:#fff ;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}

.container-fluid{
    padding: 0;
}
#mainSlider .carousel-inner,#mainSlide .carousel-item{
    height: 90vh;
} 
#mainSlider .carousel-caption{
    top: 30%;
}
#mainSlider .carousel-caption h2{
    font-size: 50px;
    margin-bottom: 30px;  
}

#mainSlider .carousel-caption p{
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: white;

}
.main-btn{
    background-color: #65daf9;
    color: white;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}
.main-btn:hover{
    text-decoration: none;
    color: white;
    background-color: transparent;
    border-color: #65daf9;
}
.carousel-indicators .active{
    background-color: #65daf9;
}

.cards{
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 14%;
    display: flex;
     flex-wrap: wrap;
    gap: 1rem;
}
.card:hover {
    transform: scale(1.05); /* Efeito de aumento ao passar o mouse */
}

#about-area{
    color:#353d41

}
.main-title{
  color: white;
  margin: 0 0 65px 0;
  font-size: 40px;
  text-align: center;
  position: relative;

}
.main-title::after {
    content: "";
    border-top: 2px solid white;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;

}
.about-title{
    font-size: 17px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
#about-list{
    list-style: none;
    padding-left: 0;
}
#about-list li{
    line-height: 30px;
    color: white;
}
#about-list i{
    color: #65daf9;
    margin-right: 15px;
}
#p3{
    color: white;
}
 
/*serviços*/

.service-box{
    text-align: center;
    margin-bottom: 50px;
    
}
.service-box i, .service-box h4 {
    transition: .5s;
}

.service-box i{
    font-size: 36px;
    margin-bottom: 20px;
    color: white;
}
.service-box h4{
    font-size: 24px;
    margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4{
    color: #65daf9;

}
h4#h4{
    color: white;
}
.row p{
    color: white;
}

.i#fas{
    color: white;
}
